<div class="container">
  <div class="row">
    <div class="col-md-6 front fill">
      <%= bootstrap_flash %>
      <%= image_tag 'hair2.jpg' %>
    </div>
    <div class="col-md-6">
      <div class="well sidebar-nav">
        <h3>Life is too short for a bad haircut</h3>
        <ul class="nav nav-list">
          <li class="nav-header">View portfolios of skilled stylist in your area</li>
          <li><%= link_to "Link1", "/path1"  %></li>
          <li><%= link_to "Link2", "/path2"  %></li>
          <li><%= link_to "Link3", "/path3"  %></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->
</div>
